<%- layout("/layouts/boilerplate.ejs") %>
<body>
    <h1>Create New Listing:-</h1>

    <form action="../listing/add"  class="needs-validation"  method="post"  novalidate enctype="multipart/form-data">
        <!-- here added the div class='row' as to align all the input elements poperly -->
    <div class="row">
        <!-- to give some extra space done between 2 input elemetns used :- "mb-3" -->
        <div class="mb-3">
            <!--adde this class:- form-label to labels and form-control to input to give bootstrap effect -->
            <label class="from-label" for="title">Title:</label>
         <input type="text" name="listing[title]" id="title" placeholder="enter title" class="form-control" required>
         <div class="invalid-feedback">
            Please enter a valid title
          </div>
        </div>

        <div class="mb-3" >
          <label for="description" class="form-label">descrtion:</label>
          <textarea name="listing[description]" id="description"  placeholder="add description" class="form-control" required></textarea>
          <div class="invalid-feedback">
            Please enter a valid description
          </div>
        </div>
         <!-- added this div to put 2 input elements together  -->
        <div class="row ">
            <!-- price will take 3 columns in md or large or xl screen else all columns and country 6 col in mid or large or xl else all columns -->
            <div class="col-md-3 col-12">
            <label for="price" class="form-label">price:</label>
            <input type="number" name="listing[price]" id="price" placeholder="enter price" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a valid price
              </div>
        </div>
        <div class="col-md-6 col-12">
            <label for="country" class="form-label">country:</label>
            <input type="text" name="listing[country]" placeholder="enter country"  id="country" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a valid country
              </div>
        </div>


           <div class="col-md-3 col-12">
            <label for="category" class="form-label">category:</label>
            <select name="listing[category]" id=""  class="form-control" required>
              <option value="rooms">rooms</option>
              <option value="pools">pools</option>
              <option value="mountain">mountian</option>
              <option value="farm">farm</option>
              <option value="beach">beach</option>
              <option value="iconic city">iconic city</option>
            </select>
            <div class="invalid-feedback">
                Please enter a valid country
              </div>
        </div>
       
        </div>
      
        <div class="mb-3">
            <label for="location" class="form-label">location:</label>
           <input type="text" name="listing[location]" id="location"  placeholder="enter location" class="form-control" required>
           <div class="invalid-feedback">
            Please enter a valid location
          </div>
    </div>



       <div class="mb-3">
        <label for="image" class="form-label">image:</label>
       <input type="file" name="listing[image]" id="image" class="form-control" required>
       <div class="invalid-feedback">
        Please enter an image
      </div>
    </div>
  
</div>
<button class="add-btn">add</button>
      
    </form>
 
</body>
