<%- layout("/layouts/boilerplate.ejs") %>
<body>
    <h1>Log In</h1>
    <form action="/user/login" method="post" novalidate class="needs-validation" >
      <div class="row ">
        <div class="col-12 mt-4 mb-4">
     <label for="uername" class="from-label">Username:</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
        <div class="invalid-feedback">Enter username</div>
      </div>
    
         <div class="col-12 mt-4 mb-4">
        <label for="email" class="from-label">Password:</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button class="btn btn-success col-lg-1  col-3 mt-4 mb-4">Login</button>
      </div>
    </form>

</body>