<% layout('/layouts/boilerplate') -%>
<body class="plus-jakarta-sans">

 <div class="filters">

    <div class="filter  mb-2 mt-2">
    <a href="/listing/farm"> <i class="fa-solid fa-tractor"></i></a> 
    <a href="/listing/farm"><p>farm</p></a> 
    </div>


    <div class="filter  mb-2 mt-2">
    <a href="/listing/mountain"> <i class="fa-solid fa-mountain"></i></a> 
    <a href="/listing/mountain"><p> mountain</p> </a> 
    </div>


    <div class="filter  mb-2 mt-2">
    <a href="/listing/iconic"><i class="fa-solid fa-city"></i></a>  
    <a href="/listing/iconic"><p>  iconic city</p></a> 
    </div>


    <div class="filter mb-2 mt-2">
   <a href="/listing/rooms"><i class="fa-solid fa-bed"></i></a>   
   <a href="/listing/rooms"><p>Rooms</p></a> 
    </div>

    <div class="filter mb-2 mt-2">
    <a href="/listing/pools"> <i class="fa-solid fa-person-swimming"></i></a> 
    <a href="/listing/pools"> <p>pools</p> </a>
    </div>


        <div class="filter mb-2 mt-2">
     <a href="/listing/beach"> <i class="fa-solid fa-umbrella-beach"></i></a>    
     <a href="/listing/beach"><p>beach</p> </a>  
    </div>
   
    <div class="tax-toggle">
      <div class="form-check form-switch ">
        <input class="form-check-input tax-btn" type="checkbox" role="switch" id="switchCheckChecked" >
        <label class="form-check-label tax-btn" for="switchCheckChecked">show taxes</label>
      </div>
    </div>

  </div>

    <!--used rows class to make gird like structure and here no need to add <div class="container"> as in boilerplatecode already there -->
    <div class="row">
    <!-- for each list item created a new card -->
        <% for (list of allList){%>
            <%if(list.category==="beach"){%>
             <!-- here taken the cards form bootstrap and added these classes:- col-lg-3(when large size screen then on element will take 3 col) col-md-6 col-12 -->
             <div class="card col-lg-4 col-md-6 col-12 mr-4 card1"  style="width:18rem; ">
                <!-- here added the link to whole image and body part of that tag to redirect us to more details ,Note:- here not use outside card or else col class wil not work -->
                 <a href="/listing/<%=list._id%>">
                 <img src="<%=list.image.url%>" class="card-img-top" alt="...">
    <!-- this was to add text above image -->
                 <div class="card-img-overlay">Show more</div>
                 <div class="card-body">
                   <p class="card-text">
                     <b><%= list.title%></b> <br> 
                     price: &nbsp; &#8377; <%=list.price.toLocaleString("en-IN")%> /night <span class="tax">&nbsp;&nbsp;+18% GST</span>
                 </p>
                 </div>
             </a>
               </div>
             
          <%} %>
 
     <% } %>    
 </div>


    
</body>